header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;   
    background-color: lightgrey;
    font-weight: 800;
    height: 80px;
    padding: 0px 20px;
    margin-bottom: 30px;
}

#create-project {
    display: flex;

}

#create-project input {
    border-radius: 5px;
    border-right: none;
}
#create-project input:focus {
    box-shadow: 0px 0px 5px black;
}

#create-project button, .project button {
    background-color: lightgreen;
}

#create-project button:hover {
    background-color: green;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    min-height: 400px;
    border: 2px solid black;
    min-width: 200px;
    max-width: 400px;
    overflow: hidden;
}

.title {
    font-size: 25px;
    font-weight: 800;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project button {
    padding: 5px;
}

button {
    border-radius: 5px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.hidden {
    display: none;
}

textarea {
    vertical-align: top;
}

.task {
    cursor: pointer;
}